<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.safir" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Safer</name>
    <description>
        The Best way to travel arround the Kingdom.
    </description>
    <author email="mohameddawaina@gmail.com.com" href="http://mdawaina.com">
        Mohamed Dawaina
    </author>
    <content src="index.html" />
    <access origin="*" />
	 <icon src="res/icon.png" />
	 

       <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
       
    </platform>


    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />
	<access origin="http://safir.mdawaina.com" />
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.3" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.2.1" />
</widget>
